body{
    background-color: whitesmoke;
}

.navigation-bar{
    width: 100%;
    height: 80px;
    background-color: white;
    margin-bottom: 20px;
}

.logo{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 100%;
}

#editor {
    border: 1px solid lightgray;
    margin-left: 10%;
    height: 500px;
    width: 90%;
}

#submit {
    margin-left: 10%;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
#submit:hover{
    background-color: white;
    color: #4CAF50;
}
#stop {
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    background-color: red;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
#stop:hover{
    background-color: white;
    color: red;
}

.radio-toolbar {
  margin-left: 10%;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #D8BFD8;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #E6E6FA;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #D8BFD8;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #BA55D3;
    border-color: #9400D3;
}

#code_container{
	float: left;
	width: 50%;
}
