body{
    background-color: whitesmoke;
}

.navigation-bar{
    width: 100%;
    height: 80px;
    background-color: white;
    margin-bottom: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.navigation-bar p{
	line-height: 0.5;
}

.navigation-bar .header{
	padding-top: 1px;
	padding-left: 10px;
}

.logo{
    display: inline-block;
    vertical-align: top;
    padding-left: 5%;
    width: 75px;
    height: 100%;
    margin-right: 2%;
}

#editor {
    border: 1px solid lightgray;
    margin-left: 10%;
    height: 500px;
    width: 90%;
}

#Control ul{
	list-style-type: none;
	overflow: hidden;
}

#Control ul > li{
	display: inline-block;
	text-align: center;
}

#Control img{
	height: 30px;
}

#submit {
	width: 80px;
    height: 50px;
    border: none;
    background-color: whitesmoke;
}

#submit:hover .tooltiptext{
	visibility: visible;
}

#stop {
    width: 80px;
    height: 50px;
    border: none;
    background-color: whitesmoke;
}

#stop:hover .tooltiptext{
	visibility: visible;
}

#save {
    width: 80px;
    height: 50px;
    border: none;
    background-color: whitesmoke;
}

#save:hover .tooltiptext{
	visibility: visible;
}

#load {
    width: 80px;
    height: 50px;
    border: none;
    background-color: whitesmoke;
}

#load:hover .tooltiptext{
	visibility: visible;
}

input[type=range]{
	width: 100px;
	height:20px;
}

th, td{
	padding-left: 45px;
}

td{
	text-align: center;
}

table{
	border-spacing: 5px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #D8BFD8;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #E6E6FA;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #D8BFD8;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #BA55D3;
    border-color: #9400D3;
}

#code_container{
	float: left;
	width: 40%;
}

#control_container{
	float: left;
	width: 30%;
	margin-left: 10px;
}

#canvas_container{
	float: left;
	width: 30%;
}
